body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    background-image: url(../img/Background_Img.jpg);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 5%;
}

form {
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}

form h2 {
    text-align: center;
}

form h4 {
    margin: 10px;
    margin-bottom: 0px;
    text-align: center;
    height: 30px;
}

.form_block {
    padding-top: 15px;
    border-top: solid;
    border-color: rgb(0, 133, 133);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    gap: 15px;
}

#radio_div {
    justify-content: space-around;
    gap: 10px;
}

#os_quest {
    flex-direction: column;
}

.radio {
    height: 14px;
    width: 14px;
}

.checkbox {
    height:14px;
    width: 14px;
}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    font-size: 14px;
}

#optional_block {
    gap: 30px;
}

.question_div {
    flex-direction: column;
    gap: 5px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

form button {
    height: 50px;
    width: 150px;
}

form input {
    height: 30px;
    width: 300px;
    font-size: 20px;
}

form textarea {
    height: 30px;
    width: 500px;
}

form select {
    height: 35px;
    width: 305px;
    font-size: 20px;
}

#birth_date {
    height: 35px;
    width: 300px;
    font-size: 20px;
}